<header>
  <nav aria-label="primary">
    <ul>
      <li><a href="/">Home</a></li>
      {% for i in collections.primary %}
      <li><a href="{{i.url}}" {% if page.url==i.url %}aria-current="page"{% endif %}>{{i.data.title}}</a>
        {% if fileslug %}
        <ul>
          {% for item in collections.secondary %}
          {% if i.fileSlug == item.data.fileslug %}
          <li><a href="{{item.url}}" {% if page.url==item.url %}aria-current="page"{% endif %}>{{item.data.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>